
.productos{
  position:relative;

}
.productosBackground{
  width: 100%;
  position: relative;
  background: #e8e6a9;
  position: absolute;
  right: 0;
  top: 55%;
  transform: translate(0%, -15%);
  -webkit-transform: translate(0%, -15%);
  height: 100px;
  z-index: 2;
}

.producto{
  z-index: 3;
  padding: 0;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}
